.login-background {
    -fx-background-color: #3B1D82; /* Просто синій */
}
.root {
    -fx-background-color: #3B1D82; /* Темно-синій фон для всіх вікон */
}

.anchor-pane, .vbox, .grid-pane {
    -fx-background-color: #3B1D82;
}

.scroll-pane {
    -fx-background: #3B1D82;
}

.button {
    -fx-background-color: #FFC107; /* Яскравий жовтий */
    -fx-text-fill: black; /* Чорний текст для контрасту */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #FFB300; /* Темніша жовта рамка */
    -fx-border-width: 2px;
}

.button:hover {
    -fx-background-color: #FFC107; /* Трохи темніший жовтий */
}

.button:pressed {
    -fx-background-color: #FFB300;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
